@using Test1_WebApp_MVC.Models;
@using Test1_WebApp_MVC.Services;

@model IEnumerable<User>

@if (Model is not null)
{
    <div>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th></th>
                <th>First Name </th>
                <th>Surname </th>
                <th>Cellphone Number</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.CellNumber</td>
                </tr>
            }
        </table>
    </div>
}

@if (Model is null)
{
   <div>No users found</div>
}

